<div class="landing-page">
  <div class="image-square">
    <%= image_tag "logo.png", alt: "Pic 1" %>
    <%= image_tag "logo2.png", alt: "Pic 2" %>
    <%= image_tag "logo32.png", alt: "Pic 3" %>
    <%= image_tag "logo4.png", alt: "Pic 4" %>
  </div>
    <h1 class="landing-title">Welcome to Our App to Track</h1>
  <div class="buttons">
  <%= link_to "Log In", new_user_session_path, class: "landing-btn" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "landing-btn" %>
</div>

</div>
